body {
    background-image: url("images/to_do_list.jpg");
}

h4 {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    color: white;
    border-radius: 10px;
    font-family: fantasy;
    box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.2);
    background-color: lightseagreen;
}

p.list_items {
    width: 90px;
    white-space: normal;
    display: inline-block;
    margin: 5px;
    /* word-wrap: normal; */
    /* text-overflow: clip; */
}

p.button {
    width: 15%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
}

p.button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

input {
    display: table;
    margin: 5px;
    padding: 10px;
}

image.list_items {
    width: "15px";
    height: "15px";
    display: "inline-block";
    margin-right: "5px";
}

#add_new_button {
    background-image: url("images/add\ list.png");
    background-position: right;
    background-size: 30px;
    background-repeat: no-repeat;
}

#add_layout {
    background-color: white;
    padding: 20px;
}