#cart_list_div {
    float: left;
    height: 500px;
    width: 68%;
    /* padding: 5px; */
    margin-top: 5px;
    border: lightgrey;
    border-style: solid;
    border-width: 2px;
    /* background-color: white; */
    overflow: scroll;
    background-repeat: no-repeat;
    background-position: center;
}

#total_price_div {
    float: left;
    height: 300px;
    width: 29%;
    padding: 10px;
    margin-top: 5px;
    margin-left: 5px;
    border: lightgrey;
    border-style: solid;
    border-width: 2px;
    position: sticky;
    position: -webkit-sticky;
    background-color: white;
}

#cart_card {
    border: solid;
    padding: 5px;
    height: 220px;
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
    border-color: lightgray;
    border-width: 0.5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
}

#image_container {
    float: left;
    width: 20%;
    height: 200px;
}

#info_container {
    display: inline-block;
    width: 75%;
    margin-left: 15px;
    height: 200px;
}

#info_container h1 {
    padding: 5px;
    display: inline-table;
    display: table-row;
}

#info_container p {
    padding: 10px;
    font-size: larger;
    font-weight: bold;
    display: inline-table;
    display: table-row;
}

#info_container input {
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 5px;
    height: 25px;
    text-align: center;
    display: inline;
    /* display: table-row; */
}

#info_container img {
    margin-top: 20px;
    width: 30px;
    overflow-x: ;
    height: 30px;
}

#image_container img {
    width: 150px;
    height: 200px;
    border: solid;
    border-width: 1px;
    border-color: lightgray;
}

div.cart_heading {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    width: 97%;
    height: 40px;
    padding: 10px;
    font-size: larger;
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: lightgrey;
    display: inline-block;
    background-color: white;
}

h4.cart_page_heading {
    font-size: larger;
    color: lightgray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h4.price_block {
    font-size: larger;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#totat_price_div div {
    display: inline-block;
    width: 50%;
}

h1.place_order_button {
    margin: 7px;
    width: auto;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    background-color: rgba(255, 162, 0, 0.899);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1.place_order_button:hover {
    border: solid;
    border-width: 2px;
    border-color: lightgray;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

p.remove_cart_item {
    color: rgb(254, 58, 58);
}