body {
    /* margin: 20px; */
    background-color: linen;
}

#banner {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    border: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px;
    background-color: cornflowerblue;
}

#logo_banner {
    width: 200px;
    height: 50px;
    text-align: justify;
    background-image: url(../images/banner_logo.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position-x: 20px;
    background-position-y: 10px;
    background-color: cornflowerblue;
}

#search_box {
    margin: 10px;
    padding: 10px;
    width: 40%;
    position: absolute;
    left: 300px;
    /* font-weight: bold; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    border: solid;
    border-width: 3px;
    border-color: rgba(255, 162, 0, 1);
}

#category {
    width: 60%;
    text-align: justify;
    display: inline-block;
}

#login_div {
    width: 37%;
    display: inline-block;
    background-color: cornflowerblue;
}

#frame {
    width: 100%;
}


/* Main Page */

#filter_layout {
    width: 16%;
    height: 480px;
    margin-top: 15px;
    float: left;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(255, 162, 0, 0.899);
    overflow: scroll;
    border: solid;
    border-color: black;
    border-width: 1px;
}

#product_list_layout {
    width: 79%;
    height: 0px;
    margin-left: 10px;
    margin-top: 15px;
    padding-left: 25px;
    float: left;
    border: solid;
    border-color: lightgray;
    border-width: 1px;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: ; */
}

div.filter {
    display: table-row;
    margin-left: 2px;
    margin-right: 2px;
}

p.tabs {
    margin: 20px;
    display: inline-block;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p.tabs:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

#clear_filter {
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: rgba(255, 162, 0, 1);
}

h1.buttons {
    /*  margin: 20px; */
    /* padding: 20px; */
    font-weight: bold;
    display: inline;
    /* background-color: cornflowerblue; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1.buttons:hover {
    color: cornflowerblue;
}


/* div.footer {
    margin: 40px;
    width: 100%;
    height: 200px;
}

h4.footer {
    background-size: 100px;
} */