#product_info {
    margin: 5px;
    height: 500px;
    width: 100%;
    overflow: scroll;
    background-color: linen;
}

#product_details_layout {
    float: left;
    margin-top: 5px;
    width: 450px;
    height: 600px;
    padding: 20px;
    border: solid;
    margin-left: 20px;
    border-color: lightgray;
    border-width: 1px;
    background-color: white;
}

p.p_info {
    font-size: larger;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h4.p_info {
    font-size: larger;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#p_price {
    font-size: larger;
    font-weight: bolder;
}

#product_image_holder {
    float: left;
    padding: 15px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    border: solid;
    border-color: lightgray;
    border-width: 1px;
}

#product_image {
    width: 350px;
    height: 450px;
    margin: 10px;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
}

#add_to_cart {
    /* position: sticky;
    position: -webkit-sticky;
    bottom: 0px; */
    margin: 10px;
    width: 98%;
    /* margin-left: 100px; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    /* display: inline-table; */
}

h1.cart_button {
    /* margin: 20px; */
    padding: 20px;
    text-align: center;
    font-weight: bold;
    background-color: rgba(255, 162, 0, 0.899);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1.cart_button:hover {
    border: solid;
    border-width: 2px;
    border-color: lightgray;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}