body {
    background-color: linen;
}

div img {
    width: 190px;
    height: 65px;
    padding: 10px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
}

div p {
    color: white;
    font-weight: bold;
    margin: 20px;
    padding: 20px;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 162, 0, 0.899);
}

div.container_entry {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 600px;
    background-color: cornflowerblue;
}

div p:hover {
    box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2);
}

input {
    margin-top: 10px;
    text-align: center;
    display: list-item;
    padding: 5px;
    /* box-shadow: 5px 5px 10px black; */
    width: 50;
}